{% extends "bases/base_fila.html" %}


{% block 'conteudo' %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <br>
                <h3>Editar ( {{crianca.nome}} )</h3>

                <form method="post">
                    {% csrf_token %}
                    <label>Nome</label>
                    <input type="text" name="nome" class="form-control" placeholder="Nome da criança..." value="{{crianca.nome}}">
                    <br>
                    <label>Idade</label>
                    <input type="number" name="idade" class="form-control" value="{{crianca.idade}}">
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <label>Responsável</label>
                            <input type="text" name="responsavel" class="form-control" placeholder="Nome do Responsável..." value="{{crianca.responsavel}}">
                        </div>
                        <div class="col-md">
                            <label>Telefone</label>
                            <input type="text" name="telefone" class="form-control" placeholder="Telefone do Responsável..." value="{{crianca.telefone}}">
                        </div>
                    </div>
                    <br>
                    
                    <input type="submit" class="btn-principal" value="Atualizar">
            </div>

                
            <form>
        </div>
    </div>

{% endblock %}