{% extends "bases/base_fila.html" %}

{% block 'conteudo' %}
<style>
    /* Estilos opcionais para a tabela */
    .btn-action {
        margin-right: 5px;
    }
    
    .table-custom {
        background-color: #f8f9fa; /* Cor branco gelo */
    }
    .thead-dark th {
        background-color: #343a40;
        color: #fff;
    }
   
</style>

    <div class="container mt-5">
        <h1 class="mb-4">Lista de Crianças</h1>
        <nav class="mb-4">
            <a href="{% url 'cadastrar_crianca' %}" class="btn btn-primary me-2"><i class="fas fa-plus"></i> Cadastrar Criança</a>
        </nav>
        <table class="table table-bordered table-striped table-custom">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Responsável</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for crianca in criancas %}
                <tr>
                    <td>{{ crianca.nome }}</td>
                    <td>{{ crianca.idade }}</td>
                    <td>{{ crianca.responsavel }}</td>
                    <td>{{ crianca.telefone }}</td>
                    <td class="d-flex">
                        <a href="{% url 'editar_crianca' crianca.id %}" class="btn btn-warning me-2"><i class="fas fa-edit"></i> Editar</a>
                        <form action="{% url 'deletar_crianca' crianca.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Deletar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
